.background {
    margin-top: 20px;
  background-color: #222;
  padding: 0;
}

.wrapper {
    padding: 20px;
    display: flex;
 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    color: white;
    font-size: 1.1em;
}

.info {
    margin-top: 10px;
    color: white;
    font-size: 1em;
}