.body {
  width: 100%;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  position: relative;
  z-index: 1;
  background: url("https://i.imgur.com/VQwgy7e.jpeg");
  min-height: 100vh;
}

.formWrapper {
  width: 60%;
  background-color: #222;
  color: var(--footer-color);
  border-radius: 20px;
}