.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Adjusted */
  grid-gap: 1px;
  width: 95%; /* Adjust max-width if needed */
  margin: 0 auto; /* Center the grid */
}

.projectHeader {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 50px;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recentProjectWrapper {
  margin-bottom: 30px;
}

.body {
    min-height: 100vh;
    width: 80%;
    margin: auto;
}

@media (max-width: 1000px) {
  .body {
    width: 98%;
  }
}


@media (max-width: 768px) {

  .body {
    width: 90%;
  }
  .projectsGrid {
    grid-template-columns: 1fr; /* Set to a single column on smaller screens */
    width: 100%; /* Take up full width */
    grid-gap: 15px;
  }

  .projectHeader {
    font-size: 40px; /* Adjust font size for smaller screens */
  }
}